body {
  font-family: Arial, sans-serif;
}

h1{
  text-align: center;
  margin-top: 50px;
}

.search-container {
  text-align: center;
  margin-top: 50px;
}

#search-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
}

#search-results {
  margin-top: 20px;
}
